.followmelinks {
  /* text-align: end; */
  padding: 8px 0;
  font-size: 1.2rem;
  margin: auto;
  width: fit-content;
}
.followmebox {
  padding: 50px 0;
  width: 60px;
  background-color: #1e847f;
}
.FollowMe {
  font-size: 1.7rem;
  margin: -25px 0 0 -40px;
  font-family: "IM Fell English SC", serif;
  /* font-style: italic; */
}
