.NavbarMobileSlide{
    display: none;
    position: fixed;
    height: 100vh;
    background-color: #1e847f;
    z-index: 1000;
    padding: 0 40px 0 30px;
    flex-direction: column;
    justify-content: end;

    &__links{
      padding: 10px 0 30px 0;
      // margin: auto;

      .main-links{
        font-size: 1.2rem;
        padding: 10px 0;
      }
    }
    &__link{
      padding: 5px 0;
    }
}
.slideButton{
  position: fixed;
  color: #fff;
  font-size: 2rem;
  z-index: 10000;
  margin: 20px 20px;
  display: none;
}

@media only screen and (max-width: 800px) {
    .NavbarMobileSlide{
      display: flex;
    }
    .slideButton{
      display: block;
    }
}