.leftabout,
.rightabout,
.rightaboutrow,
.lefttaboutrow,
.rightmost,
.followmerow {
  height: calc(100vh - 40px);
  padding: 0%;
}
.rightabout,
.rightmost {
  background-color: #111;
}

.leftabout,
.bottomabout,
.About {
  /* background-color: #555ac0; */
  background-color: #1e847f;
}
.About {
  padding-left: 50px;
}

.bottomabout {
  height: 40px;
}

.rightaboutrow {
  padding-left: 30px;
}

.container-box {
  z-index: 100;
}
.About .row {
  margin: 0;
}
