// $content-width: calc(40vw - 84px);
$content-min-width-1: 40vw;
// $content-min-width-2: 50vw;
// $content-min-width-3: 30vw;
$margin: 20px;
$spacing: 20px;
$bdrs: 6px;
$circle-size: 40px;
$icon-size: 32px;
$bdrs-icon: 100%;

$colorN: green;
$color1: #1e847f;
$color2: #58e9d5;
$color3: #1e847f;
$color4: #58e9d5;
$color5: #1e847f;
$color6: #58e9d5;

// $color3: #87bbfe;
// $color4: #555ac0;

// $color5: #24b47e;
// $color6: #aff1b6;
* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  background: #f6f9fc;
  //   font-family: "Open Sans", sans-serif;
  color: #525f7f;
}
h2 {
  margin: 5%;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}
.timeline {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  margin: $margin auto;
  position: relative;

  &__event {
    margin-bottom: $spacing;
    position: relative;
    display: flex;
    margin: $spacing 0;
    border-radius: $bdrs;
    align-self: center;
    // width: 50vw;
    width: 70vw;

    &:nth-child(2n + 1) {
      flex-direction: row-reverse;
      .timeline__event__date {
        z-index: 10;
        border-radius: 0 $bdrs $bdrs 0;
      }
      .timeline__event__content {
        z-index: 100;
        border-radius: $bdrs 0 0 $bdrs;
      }

      .timeline__event__icon {
        &:before {
          content: "";
          width: 2px;
          height: 270%;
          background: $color2;
          position: absolute;
          top: 0%;
          left: 50%;
          right: auto;
          z-index: 1;
          transform: translateX(-50%);
          animation: fillTop 0s forwards 0s ease-in-out;
        }
        &:after {
          content: "";
          width: 100%;
          height: 2px;
          background: $color2;
          position: absolute;
          right: 0;
          z-index: 1;
          top: 50%;
          left: auto;
          // transform: translateY(-50%);
          animation: fillLeft 0s forwards 0s ease-in-out;
        }
      }
    }

    &__title {
      font-size: 1.3rem;
      line-height: 1.4;
      text-transform: uppercase;

      font-weight: 600;
      color: $color1;
      letter-spacing: 1.5px;
    }
    &__content {
      z-index: 10;
      padding: $spacing;
      //   box-shadow: 30px 40px 60px -2px rgba(50, 50, 93, 0.25),
      //     0 18px 46px -18px rgba(0, 0, 0, 0.3),
      //     0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      background: #111;
      // width: $content-width;
      min-width: $content-min-width-1;
      border-radius: 0 $bdrs $bdrs 0;
    }
    &__date {
      z-index: 10;
      color: $color2;
      font-size: 1.5rem;
      font-weight: 600;
      background: $color1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      white-space: nowrap;
      padding: 0 $spacing;
      border-radius: $bdrs 0 0 $bdrs;
      .exp-end{
        font-size: 1.2rem;
      }
      .exp-to{
        font-size: 1rem;
      }
    }
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color1;
      padding: $spacing;
      align-self: center;
      margin: 0 $spacing;
      background: $color2;
      border-radius: $bdrs-icon;
      width: $circle-size;
      //   box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      //     0 18px 36px -18px rgba(0, 0, 0, 0.3),
      //     0 -12px 36px -8px rgba(0, 0, 0, 0.025);
      padding: 40px;
      height: $circle-size;
      position: relative;

      i {
        font-size: $icon-size;
      }

      &:before {
        content: "";
        width: 2px;
        height: 270%;
        background: $color2;
        position: absolute;
        top: 0%;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        animation: fillTop 0s forwards 0s ease-in-out;
      }
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: $color2;
        position: absolute;
        left: 0%;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        animation: fillLeftOdd 0s forwards 0s ease-in-out;
      }
    }
    &__description {
      flex-basis: 60%;
    }

    &--type2 {
      z-index: 10;
      &:after {
        background: $color4;
      }
      .timeline__event__date {
        z-index: 10;
        color: $color3;
        background: $color4;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {
          &:before,
          &:after {
            background: $color3;
          }
        }
      }

      .timeline__event__icon {
        background: $color3;
        color: $color4;
        &:before,
        &:after {
          background: $color3;
        }
      }
      .timeline__event__title {
        color: $color4;
      }
      .timeline__event__position {
        // color: $color3;
        color: #fff;
        font-family: "Josefin Slab", serif;
        font-weight: 900;
        font-size: 1.3rem;
      }
    }

    &--type3 {
      z-index: 10;
      &:after {
        background: $color5;
      }
      .timeline__event__date {
        z-index: 10;
        color: $color6;
        background-color: $color5;
      }

      &:nth-child(2n + 1) {
        .timeline__event__icon {
          &:before,
          &:after {
            background: $color6;
          }
        }
      }

      .timeline__event__icon {
        background: $color6;
        color: $color5;
        &:before,
        &:after {
          background: $color6;
        }
      }
      .timeline__event__title {
        color: $color6;
      }
      .timeline__event__position {
        // color: $color6;
        // color: #fff;
        font-family: "Josefin Slab", serif;
        font-weight: 900;
        font-size: 1.3rem;
      }
    }
    &:last-child {
      .timeline__event__icon {
        &:before {
          content: none;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .timeline__event {
    flex-direction: column;
    align-self: center;
    &__content {
      width: 100%;
    }

    &__icon {
      border-radius: $bdrs $bdrs 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;

      &:before,
      &:after {
        display: none;
      }
    }
    &__date {
      border-radius: 0;
      padding: $spacing;
    }

    &:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;

      .timeline__event__date {
        z-index: 10;
        border-radius: 0;
        padding: $spacing;
      }

      .timeline__event__icon {
        border-radius: $bdrs $bdrs 0 0;
        margin: 0;
      }
    }
  }
}

@keyframes fillLeft {
  100% {
    right: 100%;
  }
}

@keyframes fillTop {
  100% {
    top: 100%;
  }
}

@keyframes fillLeftOdd {
  100% {
    left: 100%;
  }
}

li {
  color: #fff;
  list-style: none;
  position: relative;
  padding-left: 22px;
//   line-height: 2;
//   font-size: 1rem;
  // font-size:32px;
}

li:before {
  font-family: FontAwesome;
  position: absolute;
  left: -2px;
  color: $color2;
  font-size: 16px;
}
.icon-exp{
   color: $color2;
   margin-right: 5px;
   font-weight: 600;
}

// li.six:before {
//   content: "\f121";
// }

.row-exp{
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  .logo-exp{
    width: 50px;
  }
  .heading-exp{
    width: calc(100% - 50px);
  }
  
}
.avatar-exp{
  width: 50px;
  height: 50px;
  border-radius: 2px;
}

@media only screen and (max-width: 786px) {
  .timeline{
    &__event{
      &__date{
        flex-direction: row;
        // justify-content: space-around;
        font-size: 1.2rem;
      }
      
    }
  }
}
@media only screen and (max-width: 991px) {
  .content{
    padding: 0 !important;
  }
  .timeline{
    &__event{
      width: 100%;
      &__content{
        min-width: 30vw;
        margin: auto;
      }
    }
  }
}
@media only screen and (max-width: 650px) {
  .content{
    padding: 0px 10px !important;
  }
}