.mypic {
  width: 300px;
  position: absolute;
  right: calc(66.7% - 110px);
  z-index: 10;
  margin-top: 20px;
}

.myPicBackground {
  width: 250px;
  height: 320px;
  /* background-color: #3a726f; */
  position: absolute;
  right: calc(66.7% + 20px);
  top: calc(50% - 250px);
}

.leftabout {
  padding-left: 100px !important;
}

@media only screen and (max-width: 1097px) {
  .mypic {
    width: 350px;
  }
  .myPicBackground {
    width: 270px;
    height: 350px;
  }
}

