.navlinks:hover {
  background-color: #00fff2;
  color: #111;
  width: 170px;
  
  // border: 1px solid #02524e;

  .hover-navlink {
    display: inline;
    font-size: 1rem;
  }
  // .hover-navlink-hide {
  //   display: none;
  // }
}
