.navlinks:hover {
  background-color: #00fff2;
  color: #111;
  width: 170px;
  
  // border: 1px solid #02524e;

  .hover-navlink {
    display: inline;
    font-size: 1rem;
  }
  // .hover-navlink-hide {
  //   display: none;
  // }
}

@media only screen and (max-width: 800px) {
  .Navbar{
    display: none;
  }
  .About{
    background-color: #111;
    padding-left: 20px;
    padding-top: 20px;
  }
  .bottomabout{
    background-color: #111;
  }
}