.contactForm {
  /* width: 700px; */
  background-color: #191919;
  padding: 20px;
  border-radius: 2px;
}
.form-div {
  padding-top: 60px;
  padding-bottom: 60px;
}
.form-control {
  background-color: #444;
  /* border-radius: 0; */
  border: 0;
  color: #fff;
}
.contactBtn {
  background: #fff;
  box-shadow: none;
  width: auto;
  margin: 10.5px;
  /* color: #fff; */
}
.recommend{
  text-align: justify;
}
.name-r{
  font-size: 1.6rem;
  font-weight: 600;
}
.des-r{
  font-size: .9rem;
  color: #bbb;
  padding-bottom: 15px;
}
@media only screen and (max-width: 991px) {
  .recommend {
    display: none;
  }
  .contactForm {
    width: 100%;
  }
}
/* @media only screen and (max-width: 767px) {
  .contactForm {
    width: 100%;
  }
} */
@media only screen and (min-width:400px) and (max-width: 600px) {
  .contactForm {
    width: 90%;
    margin: auto !important;
  }
}
@media only screen and (max-width: 400px) {
  .contactForm {
    padding: 20px 10px;
  }
}
